# Default ignored files
/workspace.xml
.idea/*
lib/__pycache__/*
__pycache__/*
.venv
.pytest_cache
metastore_db/*
spark-warehouse/*
derby.log
conf/__pycache__/*
tests/__pycache__/*
schema/__pycache__/*
extract/__pycache__/*
transform/__pycache__/*
load/__pycache__/*
exceptions/__pycache__/*
test_data/loader_data/*
test_data/output*